<!DOCTYPE html>
<html>
<head>
  <title>Cis350new</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if patient_signed_in? %>
  Signed in as <%= current_patient.email %>. Not you?
  <%= link_to "Sign out", destroy_patient_session_path, :method => :delete %>
  <% elsif therapist_signed_in? %>
  Signed in as <%= current_therapist.email %>. Not you?
  <%= link_to "Sign out", destroy_therapist_session_path, :method => :delete %>
  <% else %>
  <%= link_to "Register as a patient", new_patient_registration_path %> | <%= link_to "Sign in as a patient", new_patient_session_path %> | <%= link_to "Register as a therapist", new_therapist_registration_path %> | <%= link_to "Sign in as a therapist", new_therapist_session_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
